:root{
    --primaryColor:#826f66;
    --primaryFontFamily:"Cormorant Garamond", serif;
}
.navbar-collapse{
    flex-grow: 0;
} 
.myFont{
    font-family: var(--primaryFontFamily);
    font-size:xx-large;
    font-weight: 800;
}
.my-btn{
    border: 0;
    border-bottom: 1px solid black;
    padding-left: 100px;
    padding-right: 100px;
    background-color: white;
    
    
    opacity: 80%;
}
ul li {
    list-style-type: none;
}

    /*  start BAT-TRANG-DINNER-SET section   */

.hero .btn{
    padding: 10px 60px;
    color: var(--primaryColor);
    border-radius: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.herobackground{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 0;
}
.rectangular{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .herobackground{
    width: 100%;
    z-index: 1;
    background-position: -138px 0;
}
    .rectangular{
    width: 100%;
    height: 50%;
    left: 0;
    }

}
.MoonCards,
.collection-offer{
    padding:  50px 20px;
}
.MoonCards .row {
    flex-wrap: nowrap;
    gap: 40px;
    overflow-x: auto;
}

/*  end BAT-TRANG-DINNER-SET section   */

/*  start collection-offer  section  */

.photo-details{
    background-color: #F7F6F5;
    padding: 50px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.photo{
    
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 300px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.collection-offer .photo{
    background-image: url('./../img/collection-offer.webp');
}
@media screen and (max-width: 768px) {
    /*   collection-offer section   */
.photo-details{
        width: 100%;
    }
.photo{
        width: 100%;
    }
}

/*  end collection-offer  section  */

/*   start best sellers section*/
.best-sellers{
    padding: 50px 0;
}
.card-body {
    flex: 1 0 auto;
}

@media  (max-width: 768px) {
    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 30%;
    }
}
@media  (max-width: 562px) {
    .row-cols-md-4>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

/*   end best sellers section*/


/*  start Ceramics section*/ 
.ceramics{
    padding: 50px 0;
}
.first-row-photo{

    background-image: url('./../img/home/homepagephoto1.webp');
}.sec-row-photo{
    background-image: url('./../img/home/homepagephoto2.webp');
}




/*  end Ceramics section*/ 
/*   start Discover new arrivals section*/
.Discover-new-arrivals{
    padding: 50px 0;
}

/*   end Discover new arrivals section*/


/*   start our-blog section   */
.our-blog{
    padding: 50px 0;
}
.our-blog .photo{
    background-image: url('./../img/home/our\ blog.webp');
}

/*   end our-blog section   */




/*  start of footer  */
.footer {
  background-color: #eeeffb;
 padding-top: 70px;
}

.left-ch {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.footer .left-side {
  gap: 30px;
  align-items: flex-start;
  width: 40%;
}
.footer .right-side {
  gap: 30px;
  width: 60%;
}

.footer-item ul li a {
  font-family: var(--primaryFontFamilyLato);
  color: #fff;
  font-size: 16px;
  display: flex;
  padding-bottom: 23px;
  text-decoration: none;

}
.right-side .footer-item h3 {
  padding-bottom: 46px;
  font-size: 22px;
  font-family: var(--primaryFontFamilyLato);
}
@media screen and (max-width: 1170px) {
  .container {
    width: calc(100% - 200px);
  }
  .footer .left-side,
  .footer .right-side {
    width: 100%;
  }
  .footer .left-side .left-ch img{
    padding: 20px;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: calc(100% - 100px);
  }
  .footer .left-side .left-ch img{
    padding: 20px;
  }
}
@media screen and (max-width: 720px) {
  .container {
}
@media screen and (max-width: 520px) {
  .container {
    width: calc(100% - 40px);
    width: calc(100% - 10px);
  }
  .footer .left-side .left-ch img{
    padding: 20px;
  }
}
@media screen and (max-width: 520px) {
  .container {
    width: calc(100%);
  }
}
}
/*  end of footer  */


/*  END OF INDEX.HTML   */


/* START OF ABOUT.HTML  */

.about-moon{
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* END OF ABOUT.HTML  */



/*    START OF CONTACT.HTML     */

.hero .rect-item a{
  background-color: #c69b7b;
  width: 30px;
  height: 30px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .rect-item a img{
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.get-in-touch{
  padding: 50px 0;
}
.get-in-touch .form{
  flex: 1 1 100%;
  width: 100%;
}
/*    END OF CONTACT.HTML      */
