:root{
    --primaryColor:#826f66;
    --primaryFontFamily:"Cormorant Garamond", serif;
}
.navbar-collapse{
    flex-grow: 0;
} 
.myFont{
    font-family: var(--primaryFontFamily);
    font-size:xx-large;
    font-weight: 800;
}
.BAT-TRANG-DINNER-SET .btn{
    padding: 10px 60px;
    color: var(--primaryColor);
    border-radius: 0;
    border: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.BAT-TRANG{
    background-image: url('./../img/BAT-TRANG-DINNER-SET/flat-lay-composition-different-sized-plates-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: end;
}
.rectangular{
    background-color: #826f66;
    width: 30%;
    height: 100%;
    position: absolute;
    left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .BAT-TRANG{
    width: 100%;
    z-index: 1;
    background-position: -412px 23px;
}
    .rectangular{
    width: 100%;
    height: 50%;
    left: 0;
    }
}
.MoonCards{
    padding:  50px 20px;
}
.MoonCards .row {
    flex-wrap: nowrap;
    gap: 40px;
    overflow-x: auto;
}
